@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model CoreProje.Models.BlogYorum
@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/style.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/6c7bb4439b.js" crossorigin="anonymous"></script>


<!-- page-header-start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title">@localizer["blogEntry"]</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">@localizer["home"]</a></li>
                    <li>Blog</li>
                    <li>@localizer["blogEntry"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- blog-section start -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <!-- post-one-start -->
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @foreach (var x in Model.Deger1)
                {
                    <div class="post-block">
                        <div class="post-img"><img src="~/images/@x.Resim" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></div>
                        <div class="post-sticky"> <i class="fa fa-thumb-tack"></i> </div>
                        <div class="post-content">
                            <div>
                                <h1 class="post-title">
                                    @x.Baslik
                                </h1>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @foreach (var item in Model.Deger1)
                {
                    @Html.Raw(item.Icerik)
                }
                <div class="post-navigation mb30 mt80">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- post one end-->
            <!--comments start-->
            <div class="comment-area">
                <div class="row">
                    <div class=" col-lg-12 col-md-12">
                        <div class="comment-title">
                            <h2>@localizer["comments"]</h2>
                            @foreach (var y in Model.Deger2)
                            {
                                <ul class="comment-list">
                                    <li>
                                        <div class="comment-author"><i class="fas fa-comment-dots fa-3x"></i></div>
                                        <div class="comment-info">
                                            <h4 class="user-title">
                                                Admin ID: @y.AdminId | Blog ID: @y.BlogId | Yorum ID: @y.YorumId
                                            </h4>
                                            <div class="meta">
                                                <div class="comment-meta-date">@y.Tarih</div>
                                            </div>
                                            <div class="comment-content">
                                                @y.Yicerik
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--comments close-->
            <!--leave comments start-->
            <div class="leave-comments">
                <h2 class="comment-title">@localizer["reply"]</h2>

                <form method="post">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="textarea">@localizer["comments"]</label>
                                <textarea class="form-control" id="textarea" name="Yicerik" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="email">@localizer["yorumid"]</label>
                                <input id="email" name="YorumId" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="email">@localizer["kullanıcıid"]</label>
                                <input id="email" name="AdminId" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="email">BlogID</label>
                                <input id="email" name="BlogId" type="text" value=" @ViewBag.deger" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary btn-sm">@localizer["submit"]</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!--leave comments end-->
        </div>
    </div>
</div>

