@model IEnumerable<CoreProje.Models.Yorum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h2>Index</h2>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Yicerik)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tarih)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Blog)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Yicerik)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tarih)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Admin.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Blog.Baslik)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.YorumId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.YorumId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.YorumId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

